@model IEnumerable<CineXpress.Model.TbCliente>

@{
    ViewData["Title"] = "View";
}
<style>.cor{ color:white; class:table;

    }</style>

    <div class="cor">
<h1>Lista de Clientes</h1>
    
<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="cor">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id) <!--_______-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliSenha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliDataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliCelular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id) <!--_______-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliSenha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliDataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliCelular)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
