@model IEnumerable<CineXpress.Model.TbCliente>

@{
    ViewData["Title"] = "View";
}
<style>.cor{ color:white; class:table;

    }</style>

    <div class="cor">
<h1>Lista de Clientes</h1>
    
<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="cor">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id) <!--_______-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id) <!--_______-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
