@model CineXpress.Model.TbCliente

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes dos Clientes</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliSenha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliDataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliDataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliCelular)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Cliente">Voltar para lista</a>
</div>
