@model CineXpress.Model.TbFilme

@{
    ViewData["Title"] = "Detalhe";
}
<style>.cor
{ 
    color:white;
}
teste
{
    display:inline-block;
}
.row{
    font-family:Arial;
    font-style:initial;
    Font-weight:bold;
    font-size:larger;
}
 </style>

<h1 class="cor">Detalhes do Filme</h1>

<div class="cor">
      
    <hr />
        <div class="text">
       <img class="teste" src="/img/carros.jpg" height="400px" width="500px" />
        </div>


    <dl class="row">
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFilme)
            <h1>Teste 1</h1>
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFilme)
            <h1>Teste 5</h1>
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classificacao)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopse)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracao)
        </dd>
     
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model?.Id">Edit</a> |
    <a  asp-controller="Home" asp-action="Index">Voltar para página principal</a>
</div>
