@model CineXpress.Model.TbFilme

@{
    ViewData["Title"] = "Delete";
}
<style>.cor{ color:white;

    }</style>

<h1 class="cor" >Excluir Filme</h1>

<h3 class="cor">Você está certo disso?</h3>
<div class="cor">
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFilme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFilme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Filme">Voltar para Lista</a>
    </form>
</div>
