@model CineXpress.Model.TbFilme

@{
    ViewData["Title"] = "Detalhe";
}
<style>.cor
{ 
    color:white;
}
teste
{
    display:inline-block;
}
.row{
    font-family:Arial;
    font-style:initial;
    Font-weight:bold;
    font-size:larger;
}
 </style>

<h1 class="cor">Detalhes do Filme</h1>

<div class="cor">
      
    <hr />



    <dl class="row">
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilClassificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilClassificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilSinopse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilSinopse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilDuracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilDuracao)
        </dd>
     
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Filme">Voltar para Lista</a>
</div>
