@model IEnumerable<CineXpress.Model.TbFilme>

@{
    ViewData["Title"] = "Filme";
}
<style>.cor{ color:white;

    }</style>

<h1 class="cor">Lista de Filmes</h1>

<p>
    <a asp-action="Criar">Novo</a>
</p>
<table class="table">
    <thead class="cor">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id) <!--_______-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilClassificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilSinopse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilDuracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="cor">
            <td>
                @Html.DisplayFor(modelItem => item.Id) <!--_______-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilClassificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilSinopse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilDuracao)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Detalhe" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>


