@model CineXpress.Model.TbFuncionario

@{
    ViewData["Title"] = "Detalhes";
}<style>
.cor{
    color:white
}
</style>

<h1>Detalhes</h1>

<div>
    <h4>TbFuncionario</h4>
    <hr />
    <div class="cor">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunSenha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunDataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunDataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunCelular)
        </dd>
    </dl>
    </div>
</div>
<div>
    <a asp-action="Editar" asp-route-FunId="@Model?.FunId">Edit</a> |
    <a asp-action="Funcionario">Voltar para Lista</a>
</div>
