@model IEnumerable<CineXpress.Model.TbFuncionario>

@{
    ViewData["Title"] = "Funcionario";
}

<h1>Funcionario</h1>

<p>
    <a asp-action="Criar">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FunId) <!--_______-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunSenha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunDataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunCelular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FunId) <!--_______-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunSenha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunDataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunCelular)
            </td>
            <td>
                <a asp-action="Editar" asp-route-FunId="@item.FunId">Editar</a> |
                <a asp-action="Detalhes" asp-route-FunId="@item.FunId">Detalhes</a> |
                <a asp-action="Delete" asp-route-FunId="@item.FunId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
